body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

header h1 {
    color: #ff8400; /* Sets the text color to black */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;          /* Makes the box take the full width */
    background-color: #353535; /* Optional: background color */
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: box shadow */
    transition: transform 0.3s;
    margin: 0 20px
    background-color: #353535;
    border-radius: 15px;
}

.box:hover {
    transform: scale(1.01);
}

.box-description {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: left;      
    height: 100%;          
    text-align: left;       
    padding: 20px;
}

.box-description h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #ff8400;
}

.box-description p {
    margin: 0;
    font-size: 15px;
    color: #ffbe78;
    margin-top: 10px;
}

.home-icon img {
    width: 40px; /* Adjust size */
    position: absolute;
    top: 20px;
    left: 20px;
}
